<!-- <META HTTP-EQUIV='Content-Security-Policy' CONTENT="default-src 'self' ; script-src 'self' 'unsafe-inline' disqus.com *.disqus.com *.disquscdn.com requirejs.org google-analytics.com static.jsbin.com; style-src 'self' 'unsafe-inline' *.googleapis.com *.disquscdn.com; img-src 'self' *; font-src 'self' * ; media-src 'self' ; frame-src disqus.com jsbin.com;">

<META HTTP-EQUIV='Strict-Transport-Security' CONTENT="max-age=15552000; includeSubDomains; preload"> -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />