body h1{
  font-size: 28.5px !important; 
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; 
  color: #ccc;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 2em; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }


/* blockquote {
    padding: 0.93em 0.93em 1.5em 1.07em;
    margin-bottom: 1.28em;
    font-family:georgia,serif;
    font-style: italic;
    border-left: 0px;
}
blockquote:before {
    content:"\201C";
    font-size:2.86em;
    margin-left:-0.71em;
    font-family:georgia,serif;
    color:#eee;
}


blockquote p {
    font-size: 1.15em;
    font-weight: 300;
    line-height: 1.28em;
    margin-bottom: 0;
    font-style: italic;
} */
blockquote {
    border-left: 5px solid #000;
    padding-left: 1.1rem;
    margin-left: 1rem;
    font-style: italic;
    color: #ada8a8;
}

body{
    line-height: 1.43em;
    font-family: 'Lato', sans-serif;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #ffffff;
}



.archives li{
    font-size: 1em;
    line-height: 1em;
    padding: 10px 0;
}

.archives ul{
    margin: 0;
}
.archives li{
   list-style-type: none;
}
.archives .post a{
    text-decoration-color: dark;
}

.archives .post a:hover{
    color: #005580;
}

.archives .post a .date{
    color: rgba(0,0,0,0.2);
}

.archives .post .date{
    float: right;
}

@media screen and (max-width: 40em){
    .archives .post .date {
        display: none;
    }
}

.thumbnails{
    width: 0;
    height: 0;
    overflow:hidden;
}

.readings .post{
    overflow: hidden;
    margin: 0 0 10px 0;
}
.readings .thumbnails{
    width: 200px;
    height: auto;
    float: right;
    margin: 0 0 5px 5px;
}
.readings .entry .intro{

      display: block;
    }

@media screen and (max-width: 400px){
    .readings .entry .intro{

      display: none;
    }
    .readings .thumbnails{
        width: 200px;
        height: auto;
        visibility: visible;
        float: none;
        margin: auto;

    }
    .readings .thumbnails ~p{
        display:none;
    }

    .readings .read-more{
        display:none;
    }
}

.recent-posts .post {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.recent-posts .post .date{
    color: rgba(0,0,0,0.2);
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.content h3{
    /* border-bottom: 1px solid #aaa; */
}

.content h2{
    border-bottom:  1px solid #aaa;
}

.content h3:before{
    /* content:'$ ' */
}

.content h2:before{
    /*content:'# '*/
}

h1,h2,h3{
        margin-top: 1em;
}

.content h1{
  text-transform: capitalize;
}
.content h2, .content h3{
  /* text-transform: uppercase; */
}


table {
    background-color: transparent;
}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}
th {
    text-align: left;
}
table {
    max-width: 90%;
    margin-bottom: 20px;
    border: 1px solid #dedede;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-transform: none;
    background-color: #777;
    color: white;
    text-align: left;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

table tr td {
    hyphens: auto;
}

ul.posts {
    list-style-type: none;
}
ul.posts li{
    margin-bottom: 10px;
}
ul.posts li>span.date {
    min-width: 100px;
    float: right;
    color: #ccc;
}

@media screen and (max-width: 400px){
    ul.posts li>span.date {
        display: block;
        color: #ccc;
        float:none;
    }
    
}